JAVA/WebServices/SegurosClient/src/META-INF/wsdl/localhost_8080/SegurosService/WSSeguros.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSSeguros">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/SegurosService/WSSeguros?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8080/SegurosService/WSSeguros?xsd=2"/>
</xsd:schema>
</types>
<message name="FuncionarioCreate">
<part name="parameters" element="tns:FuncionarioCreate"/>
</message>
<message name="FuncionarioCreateResponse">
<part name="parameters" element="tns:FuncionarioCreateResponse"/>
</message>
<message name="GetDatosFuncionaroi">
<part name="parameters" element="tns:GetDatosFuncionaroi"/>
</message>
<message name="GetDatosFuncionaroiResponse">
<part name="parameters" element="tns:GetDatosFuncionaroiResponse"/>
</message>
<message name="BuscarDatosCliente">
<part name="parameters" element="tns:BuscarDatosCliente"/>
</message>
<message name="BuscarDatosClienteResponse">
<part name="parameters" element="tns:BuscarDatosClienteResponse"/>
</message>
<message name="EditarSiniestro">
<part name="parameters" element="tns:EditarSiniestro"/>
</message>
<message name="EditarSiniestroResponse">
<part name="parameters" element="tns:EditarSiniestroResponse"/>
</message>
<message name="ClienteBuscar">
<part name="parameters" element="tns:ClienteBuscar"/>
</message>
<message name="ClienteBuscarResponse">
<part name="parameters" element="tns:ClienteBuscarResponse"/>
</message>
<message name="SiniestroCreate">
<part name="parameters" element="tns:SiniestroCreate"/>
</message>
<message name="SiniestroCreateResponse">
<part name="parameters" element="tns:SiniestroCreateResponse"/>
</message>
<message name="Consulta">
<part name="parameters" element="tns:Consulta"/>
</message>
<message name="ConsultaResponse">
<part name="parameters" element="tns:ConsultaResponse"/>
</message>
<message name="ConsultaAll">
<part name="parameters" element="tns:ConsultaAll"/>
</message>
<message name="ConsultaAllResponse">
<part name="parameters" element="tns:ConsultaAllResponse"/>
</message>
<message name="PolizaBuscar">
<part name="parameters" element="tns:PolizaBuscar"/>
</message>
<message name="PolizaBuscarResponse">
<part name="parameters" element="tns:PolizaBuscarResponse"/>
</message>
<message name="EditarPoliza">
<part name="parameters" element="tns:EditarPoliza"/>
</message>
<message name="EditarPolizaResponse">
<part name="parameters" element="tns:EditarPolizaResponse"/>
</message>
<message name="Cliente">
<part name="parameters" element="tns:Cliente"/>
</message>
<message name="ClienteResponse">
<part name="parameters" element="tns:ClienteResponse"/>
</message>
<message name="SiniestroAll">
<part name="parameters" element="tns:SiniestroAll"/>
</message>
<message name="SiniestroAllResponse">
<part name="parameters" element="tns:SiniestroAllResponse"/>
</message>
<message name="SiniestroBuscar">
<part name="parameters" element="tns:SiniestroBuscar"/>
</message>
<message name="SiniestroBuscarResponse">
<part name="parameters" element="tns:SiniestroBuscarResponse"/>
</message>
<message name="FuncionarioAll">
<part name="parameters" element="tns:FuncionarioAll"/>
</message>
<message name="FuncionarioAllResponse">
<part name="parameters" element="tns:FuncionarioAllResponse"/>
</message>
<message name="Login">
<part name="parameters" element="tns:Login"/>
</message>
<message name="LoginResponse">
<part name="parameters" element="tns:LoginResponse"/>
</message>
<message name="PolizaCreate">
<part name="parameters" element="tns:PolizaCreate"/>
</message>
<message name="PolizaCreateResponse">
<part name="parameters" element="tns:PolizaCreateResponse"/>
</message>
<portType name="WSSeguros">
<operation name="FuncionarioCreate">
<input wsam:Action="http://WebServices/WSSeguros/FuncionarioCreateRequest" message="tns:FuncionarioCreate"/>
<output wsam:Action="http://WebServices/WSSeguros/FuncionarioCreateResponse" message="tns:FuncionarioCreateResponse"/>
</operation>
<operation name="GetDatosFuncionaroi">
<input wsam:Action="http://WebServices/WSSeguros/GetDatosFuncionaroiRequest" message="tns:GetDatosFuncionaroi"/>
<output wsam:Action="http://WebServices/WSSeguros/GetDatosFuncionaroiResponse" message="tns:GetDatosFuncionaroiResponse"/>
</operation>
<operation name="BuscarDatosCliente">
<input wsam:Action="http://WebServices/WSSeguros/BuscarDatosClienteRequest" message="tns:BuscarDatosCliente"/>
<output wsam:Action="http://WebServices/WSSeguros/BuscarDatosClienteResponse" message="tns:BuscarDatosClienteResponse"/>
</operation>
<operation name="EditarSiniestro">
<input wsam:Action="http://WebServices/WSSeguros/EditarSiniestroRequest" message="tns:EditarSiniestro"/>
<output wsam:Action="http://WebServices/WSSeguros/EditarSiniestroResponse" message="tns:EditarSiniestroResponse"/>
</operation>
<operation name="ClienteBuscar">
<input wsam:Action="http://WebServices/WSSeguros/ClienteBuscarRequest" message="tns:ClienteBuscar"/>
<output wsam:Action="http://WebServices/WSSeguros/ClienteBuscarResponse" message="tns:ClienteBuscarResponse"/>
</operation>
<operation name="SiniestroCreate">
<input wsam:Action="http://WebServices/WSSeguros/SiniestroCreateRequest" message="tns:SiniestroCreate"/>
<output wsam:Action="http://WebServices/WSSeguros/SiniestroCreateResponse" message="tns:SiniestroCreateResponse"/>
</operation>
<operation name="Consulta">
<input wsam:Action="http://WebServices/WSSeguros/ConsultaRequest" message="tns:Consulta"/>
<output wsam:Action="http://WebServices/WSSeguros/ConsultaResponse" message="tns:ConsultaResponse"/>
</operation>
<operation name="ConsultaAll">
<input wsam:Action="http://WebServices/WSSeguros/ConsultaAllRequest" message="tns:ConsultaAll"/>
<output wsam:Action="http://WebServices/WSSeguros/ConsultaAllResponse" message="tns:ConsultaAllResponse"/>
</operation>
<operation name="PolizaBuscar">
<input wsam:Action="http://WebServices/WSSeguros/PolizaBuscarRequest" message="tns:PolizaBuscar"/>
<output wsam:Action="http://WebServices/WSSeguros/PolizaBuscarResponse" message="tns:PolizaBuscarResponse"/>
</operation>
<operation name="EditarPoliza">
<input wsam:Action="http://WebServices/WSSeguros/EditarPolizaRequest" message="tns:EditarPoliza"/>
<output wsam:Action="http://WebServices/WSSeguros/EditarPolizaResponse" message="tns:EditarPolizaResponse"/>
</operation>
<operation name="Cliente">
<input wsam:Action="http://WebServices/WSSeguros/ClienteRequest" message="tns:Cliente"/>
<output wsam:Action="http://WebServices/WSSeguros/ClienteResponse" message="tns:ClienteResponse"/>
</operation>
<operation name="SiniestroAll">
<input wsam:Action="http://WebServices/WSSeguros/SiniestroAllRequest" message="tns:SiniestroAll"/>
<output wsam:Action="http://WebServices/WSSeguros/SiniestroAllResponse" message="tns:SiniestroAllResponse"/>
</operation>
<operation name="SiniestroBuscar">
<input wsam:Action="http://WebServices/WSSeguros/SiniestroBuscarRequest" message="tns:SiniestroBuscar"/>
<output wsam:Action="http://WebServices/WSSeguros/SiniestroBuscarResponse" message="tns:SiniestroBuscarResponse"/>
</operation>
<operation name="FuncionarioAll">
<input wsam:Action="http://WebServices/WSSeguros/FuncionarioAllRequest" message="tns:FuncionarioAll"/>
<output wsam:Action="http://WebServices/WSSeguros/FuncionarioAllResponse" message="tns:FuncionarioAllResponse"/>
</operation>
<operation name="Login">
<input wsam:Action="http://WebServices/WSSeguros/LoginRequest" message="tns:Login"/>
<output wsam:Action="http://WebServices/WSSeguros/LoginResponse" message="tns:LoginResponse"/>
</operation>
<operation name="PolizaCreate">
<input wsam:Action="http://WebServices/WSSeguros/PolizaCreateRequest" message="tns:PolizaCreate"/>
<output wsam:Action="http://WebServices/WSSeguros/PolizaCreateResponse" message="tns:PolizaCreateResponse"/>
</operation>
</portType>
<binding name="WSSegurosPortBinding" type="tns:WSSeguros">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="FuncionarioCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetDatosFuncionaroi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="BuscarDatosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarSiniestro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ClienteBuscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SiniestroCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ConsultaAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PolizaBuscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="EditarPoliza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SiniestroAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SiniestroBuscar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FuncionarioAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="PolizaCreate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSSeguros">
<port name="WSSegurosPort" binding="tns:WSSegurosPortBinding">
<soap:address location="http://localhost:8080/SegurosService/WSSeguros"/>
</port>
</service>
</definitions>